html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

h1 {
    margin: 16px 0;
}

.eat-holder {
    display: flex;
    flex-flow: row wrap;
}

.eat-item {
    display: inline-flex;
    flex-flow: row nowrap;
    padding: 8px;
}

.eat-count {
    width: 3em;
}

.text-right {
    text-align: right;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #eeddee;
}
