@model IndexVM 
@{
    ViewBag.Title = "Foods";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<p>Hello, @Model.Who.Name!</p>

<p>Calories in the last 24 hours: @Model.Meals.Sum(m => m.Food.Calories)</p>

<form asp-action="Eat" asp-controller="Home">
    <div>
        @foreach (Food f in Model.Foods)
        {
            <button name="ID" value="@f.ID">@f.Name</button>
        }
    </div>
</form>

<p><a asp-action="Create" asp-controller="Food">Add new food</a></p>
