@model IndexVM
@{
    ViewBag.Title = "Calories";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<p>Calories in the last 24 hours: @Model.Meals.Sum(m => m.Food.Calories)</p>

<form asp-action="Eat" asp-controller="Home"> 
    <fieldset>
        <legend>Eat?</legend>
        @foreach (Food f in Model.Foods)
        {
            <button name="ID" value="@f.ID">@f.Name</button>
        }
    </fieldset>
</form>

<p><a asp-action="Create" asp-controller="Food">Add new food</a></p>
