
@{
    List<Message> messages = TempData.GetMessages();
}

<!DOCTYPE html>
<html lang="en-gb">
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>@ViewBag.Title</h1>

    @if (messages.Count > 0)
    {
        <div>
            <ul>
                @foreach (Message m in messages)
                {
                    <li>@m.Text</li>
                }
            </ul>
        </div>
    }


    <div>
        @RenderBody()
    </div>

</body>
</html>